bodt{ 
	margin:0; 
}
.bck{
	background-color: #92b58d;
}
.main{
	font-family: 'Andada Pro', serif;
	font-size: 150%;
	color:#262626;
	text-align: left;
	left: 100px;
	position: relative;
}
.title{
	font-family: 'Andada Pro', serif;
	font-size: 350%;
	color:#112440;
	text-align: center; 
	position: relative;
	
}
.header{
	font-family: 'Andada Pro', serif;
	font-size: 225%;
	color:#1b4224;
	text-align: center; 
	position: relative;
	
}
.imgl{
	border-radius: 5px;
	position: static;
	display:block;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 400px;
	object-fit: cover; 
}
.imgh{
	border-radius: 5px;
	position: static;
	display:block;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: 200px;
	object-fit: cover;
}

