body { min-height: 100vh; }
.bck{
	background-color: #92b58d;
}
.main{
	font-family: 'Andada Pro', serif;
	font-size: 150%;
	color:#262626;
	text-align: left;
	left: 100px;
	position: relative;
}
.title{
	font-family: 'Andada Pro', serif;
	font-size: 350%;
	color:#112440;
	text-align: center; 
	position: relative;
	
}
.header{
	font-family: 'Andada Pro', serif;
	font-size: 225%;
	color:#1b4224;
	text-align: center; 
	position: relative;
	
}
.img{
	border-radius: 5px;
	position: static;
	display:block;
	margin-left: auto;
	margin-right: auto;
	height: 50%;
	width: 50%
}
